
:root {
    font-size: 16px;
}

$padding: 1rem;
$primayColor : #95e1d3;
$secondColor :#f38181 ;
$textColor:#333333;
$textColor2:#999999;
$bgColor:#f8f8f8;
$bgIcon:#fce38a;
$white :  #ffffff;
$linerColor : 0deg, #e2cc7b 0%, #db7474 100% ;